<div data-bind="visible: false">
    <input type="checkbox" checked="checked" name="custom-fee" value="custom-fee"/>
    <span data-bind="text: getFormattedPrice()" class="price" style="font-weight: 600"></span>
    <span data-bind="text: getFeeLabel()"></span>
</div>
